{% extends 'base.html.twig' %}

{% block title %}Directory index{% endblock %}

{% block body %}
    <h1>{% trans %}Directory index{% endtrans %}<h1>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}UpdateAt{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Size{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}Extension{% endtrans %}</th>
                <th>{% trans %}permissions{% endtrans %}</th>
                <th>{% trans %}Path{% endtrans %}</th>
                <th>{% trans %}IsFIle{% endtrans %}</th>
                <th>{% trans %}FileType{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for dirs in directories %}
        {% for directory in dirs %}
            <tr>
                <td><img src="{{ asset("images/folder.jpg") }}" width="100%" height=="100%"></td>
                <td><a href="{{ path('index_list_file',{'id': directory.id}) }}">{{ directory.name }}</a></td>
                <td>{{ directory.updateAt ? directory.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ directory.description }}</td>
                <td>{{ directory.size }}</td>
                <td>{{ directory.type }}</td>
                <td>{{ directory.extension }}</td>
                <td>
                {%  for division in directory.companyDivision %}

                <a href='{{ path('directory_company_division_index',{'id': division.id}) }}' description="fichier sécretariat" >
                    {{ division }}
                    </a>
                {% endfor %}  </td>
                <td>{{ directory.path }}</td>
                <td>{{ directory.isFIle ? 'Yes' : 'No' }}</td>
                <td>{{ directory.fileType }}</td>
                <td>
                    <a href="{{ path('directory_show', {'id': directory.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('directory_edit', {'id': directory.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
            
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="12">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('directory_child_new',{'id': parent.id}) }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
