{% extends 'base.html.twig' %}

{% block title %}Directory index
{% endblock %}

{% block body %}

	<style></style>
	<h1>{% trans %}Directory index{% endtrans %}<h1>


	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Table View</button>
			<button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Folder view</button>
			<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
			<table id="example" class="w3-table display w3-striped w3-teal" style="width:100%">
				<thead>
					<tr>
						<th>{% trans %}{% endtrans %}</th>
						<th>{% trans %}Name{% endtrans %}</th>
						<th>{% trans %}UpdateAt{% endtrans %}</th>
						<th>{% trans %}Description{% endtrans %}</th>
						<th>{% trans %}Division{% endtrans %}</th>
						<th>{% trans %}name{% endtrans %}</th>
						<th>{% trans %}Path{% endtrans %}</th>
						<th>{% trans %}actions{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for division in directories %}
						{% for directory in division %}
							<tr>
								<td class='photo' width="10%"><img src="{{ asset("images/folder2.jpg") }}" width="100%" height=="100%" class='img img-responsive w3-circle'></td>
								<td>
									<a href="{{ path('index_list_folder',{'id': directory.id}) }}">
										{{ directory.name }}</a>
								</td>
								<td>{{ directory.updateAt ? directory.updateAt|date('Y-m-d H:i:s') : '' }}</td>
								<td>

									<div class="dropdown w3-round-large">
										<button class="w3-btn w3-round-large dropdown-toggle icon icon-arrow-down" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
											Enfant
											<span class="fa fa-angle-down"></span>
										</button>

										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
											{% for child in directory.children %}


												<li>
													<a class="dropdown-item" href="{{ path('index_list_folder',{'id': child.id}) }}">{{ child.name }}</a>
												</li>

											{% endfor %}

										</ul>
									</div>

								</td>
								<td>
									{%  for division in directory.companyDivision %}

										{{ division }}
									{% endfor %}
								</td>
								<td>{{ directory.name }}</td>
								<td>{{ directory.path }}</td>

								<td>
									<a class="w3-button w3-hover-blue fa fa-eye w3-padding-large" href="{{ path('directory_show', {'id': directory.id}) }}">{% trans %}show{% endtrans %}</a>
									<a class="w3-button w3-hover-teal w3-border-green w3-white w3-padding-large fa fa-pencil w3-margin-large" href="{{ path('directory_edit', {'id': directory.id}) }}">{% trans %}edit{% endtrans %}</a>
								</td>
							</tr>
						</td>
					</tr>
					{% else %}

				{% endfor %}


			{% else %}
				<tr>
					<td colspan="22">{% trans %}no records found{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('directory_new') }}">{% trans %}Create new{% endtrans %}</a>
</div>
<div class="tab-pane fade active show" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
	{% for key, folders in directories %}


		<div class="w3-container">
			<h2>{{ key }}</h2>

			{% for directory in folders %}

				<div class="w3-card-4  w3-quarter w3-padding-large">

					<div class="w3-container w3-center  w3-black w3-hover-teal">
						<h3>{{ directory.name }}
						</h3>
						<a href="{{ path('index_list_folder',{'id': directory.id}) }}">
							<img src="{{ asset("images/folder2.jpg") }}" alt="Avatar" style="width:80%" class="w3-img  w3-hoverable"/>
						</a>
						<h5>
							{%  for division in directory.companyDivision %}
								-
								{{ division }}
							{% endfor %}
						</h5>

						<button class="w3-button w3-green w3-small fa fa-eye">
							<a class=" w3-link" href="{{ path('index_list_file', {'id': directory.id}) }}">{% trans %}show{% endtrans %}</a>
						</button>
						<button class="w3-button w3-red w3-small fa fa-pencil">
							<a class=" w3-link" href="{{ path('directory_edit', {'id': directory.id}) }}">{% trans %}edit{% endtrans %}</a>
						</button>

					</div>

				</div>
			{% else %}
				<div>
					<td colspan="22">{% trans %}no records found{% endtrans %}</td>
				</div>

			{% endfor %}
		</div>
	{% else %}
		<div class="w3-container">

			<td colspan="22">{% trans %}no records found{% endtrans %}</td>
		</div>

	{% endfor %}


	<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"></div>
</div>{% endblock %}
