{% extends 'base.html.twig' %}

{% block title %}Directory index{% endblock %}

{% block body %}
    <h1>Directory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>UpdateAt</th>
                <th>Description</th>
                <th>Size</th>
                <th>Type</th>
                <th>Extension</th>
                <th>permissions</th>
                <th>Path</th>
                <th>IsFIle</th>
                <th>FileType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for directory in directories %}
            <tr>
                <td>{{ directory.id }}</td>
                <td>{{ directory.name }}</td>
                <td>{{ directory.updateAt ? directory.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ directory.description }}</td>
                <td>{{ directory.size }}</td>
                <td>{{ directory.type }}</td>
                <td>{{ directory.extension }}</td>
                <td>{{ directory.permissions }}</td>
                <td>{{ directory.path }}</td>
                <td>{{ directory.isFIle ? 'Yes' : 'No' }}</td>
                <td>{{ directory.fileType }}</td>
                <td>
                    <a href="{{ path('directory_show', {'id': directory.id}) }}">show</a>
                    <a href="{{ path('directory_edit', {'id': directory.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('directory_new') }}">Create new</a>
{% endblock %}
