{% extends 'base.html.twig' %}

{% block title %}Directory index{% endblock %}

{% block body %}
    <h1>Directory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>UpdateAt</th>
                <th>Description</th>
                <th>Size</th>
                <th>Type</th>
                <th>Extension</th>
                <th>permissions</th>
                <th>Path</th>
                <th>IsFIle</th>
                <th>FileType</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dirs in directories %}
        {% for directory in dirs %}
            <tr>
                <td><img src="{{ asset("images/folder.jpg") }}" width="100%" height=="100%"></td>
                <td><a href="{{ path('index_list_file',{'id': directory.id}) }}">{{ directory.name }}</a></td>
                <td>{{ directory.updateAt ? directory.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ directory.description }}</td>
                <td>{{ directory.size }}</td>
                <td>{{ directory.type }}</td>
                <td>{{ directory.extension }}</td>
                <td>
                {%  for division in directory.companyDivision %}

                <a href='{{ path('directory_company_division_index',{'id': division.id}) }}' description="fichier sécretariat" >
                    {{ division }}
                    </a>
                {% endfor %}  </td>
                <td>{{ directory.path }}</td>
                <td>{{ directory.isFIle ? 'Yes' : 'No' }}</td>
                <td>{{ directory.fileType }}</td>
                <td>
                    <a href="{{ path('directory_show', {'id': directory.id}) }}">show</a>
                    <a href="{{ path('directory_edit', {'id': directory.id}) }}">edit</a>
                </td>
            </tr>
            
        {% endfor %}
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('directory_child_new',{'id': parent.id}) }}">Create new</a>
{% endblock %}
