{% extends 'base.html.twig' %}

{% block title %}Directory{% endblock %}

{% block body %}
    <h1>{% trans %}Directory{% endtrans %}<h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ directory.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ directory.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}UpdateAt{% endtrans %}</th>
                <td>{{ directory.updateAt ? directory.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ directory.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}Size{% endtrans %}</th>
                <td>{{ directory.size }}</td>
            </tr>
            <tr>
                <th>{% trans %}Type{% endtrans %}</th>
                <td>{{ directory.type }}</td>
            </tr>
            <tr>
                <th>{% trans %}Extension{% endtrans %}</th>
                <td>{{ directory.extension }}</td>
            </tr>
            <tr>
                <th>{% trans %}Permissions{% endtrans %}</th>
                <td>{{ directory.permissions }}</td>
            </tr>
            <tr>
                <th>{% trans %}Path{% endtrans %}</th>
                <td>{{ directory.path }}</td>
            </tr>
            <tr>
                <th>{% trans %}IsFIle{% endtrans %}</th>
                <td>{{ directory.isFIle ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{% trans %}FileType{% endtrans %}</th>
                <td>{{ directory.fileType }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('directory_index') }}">back to list</a>

    <a href="{{ path('directory_edit', {'id': directory.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('directory/_delete_form.html.twig') }}
{% endblock %}
