{% extends 'base.html.twig' %}

{% block title %}Subdivision{% endblock %}

{% block body %}
    <h1>{% trans %}Subdivision{% endtrans %}<h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ subdivision.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ subdivision.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ subdivision.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}UpdateAt{% endtrans %}</th>
                <td>{{ subdivision.updateAt ? subdivision.updateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('subdivision_index') }}">back to list</a>

    <a href="{{ path('subdivision_edit', {'id': subdivision.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('subdivision/_delete_form.html.twig') }}
{% endblock %}
