{{ form_start(form) }}
{#{ form_widget(form) }#}
<div class="w3-row">
	{% for item in form %}
		<div class="w3-half w3-padding" id="{{item.vars.name}}">
			{{ form_row(item) }}
		</div>
	{% endfor %}
</div>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
