{% extends 'base.html.twig' %}

{% block title %}Company{% endblock %}

{% block body %}
    <h1>{% trans %}Company{% endtrans %}<h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ company.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Description{% endtrans %}</th>
                <td>{{ company.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}MailAddress{% endtrans %}</th>
                <td>{{ company.mailAddress }}</td>
            </tr>
            <tr>
                <th>{% trans %}PhoneNumber{% endtrans %}</th>
                <td>{{ company.phoneNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_index') }}">back to list</a>

    <a href="{{ path('company_edit', {'id': company.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
