{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
    <h1>{% trans %}Region index{% endtrans %}<h1>

    <table class="table " width="100%">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}UpdateAt{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region.id }}</td>
                <td>{{ region.name }}</td>
                <td>{{ region.description }}</td>
                <td>{{ region.updateAt ? region.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('region_show', {'id': region.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a href="{{ path('region_edit', {'id': region.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('region_new') }}">{% trans %}Create new{% endtrans %}</a>
<script lang="javascript">
          $(document).ready( function () {
    $('.table').DataTable();
} );
</script>
{% endblock %}
