{% extends 'base.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<h1>{% trans %}User index{% endtrans %}<h1>

	<table class="table">
		<thead>
			<tr>
				<th>{% trans %}Id{% endtrans %}</th>
				<th>{% trans %}Username{% endtrans %}</th>
				<th>{% trans %}Roles{% endtrans %}</th>
				<th>{% trans %}Company{% endtrans %}</th>
				<th>{% trans %}Name{% endtrans %}</th>
				<th>{% trans %}division{% endtrans %}</th>
				<th>{% trans %}CreateAt{% endtrans %}</th>
				<th>{% trans %}actions{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
					<td>{{ user.division.company }}</td>
					<td>{{ user.name }}</td>
					<td>{{ user.division }}</td>
					<td>{{ user.createAt ? user.createAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>

						{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_HABITECH') %}
                        
							<a href="{{ path('user_edit', {'id': user.id}) }}">{% trans %}edit{% endtrans %}</a>
							<a href="{{ path('user_show', {'id': user.id}) }}">{% trans %}show{% endtrans %}</a>

						{% endif %}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">{% trans %}no records found{% endtrans %}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('user_new') }}">{% trans %}Create new{% endtrans %}</a>
{% endblock %}
