<div class="w3-container w3-padding-large">
	<h2></h2>

	<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-green w3-large fa fa-edit">Edit parameter</button>

	<div id="id01" class="w3-modal">
		<div class="w3-modal-content w3-animate-zoom " style="max-width:600px">

			<div class="w3-center"><br>
				<span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
				<img src="img_avatar4.png" alt="Update user {{user.username|upper}}" style="width:30%" class="w3-circle w3-margin-top">
			</div>

			<div class="w3-row">
				{{ form_start(form) }}
				<div class="my-custom-class-for-errors">
					{{ form_errors(form) }}
				</div>

					{% for item in form %}
						<div class="w3-half w3-padding" id="{{item.vars.name}}">
							{{ form_row(item) }}
						</div>
					{% endfor %}


					<div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
						<button onclick="document.getElementById('id01').style.display='none'" type="" class="w3-button w3-red">close</button>
						<button type="submit" class="w3-button w3-teal">Send</button>

						<span class="w3-right w3-padding w3-hide-small">Forgot
							<a href="#">password?</a>
						</span>
					</div>


				{{ form_end(form) }}
			</div>
		</div>
	</div>
</div>
